{
  "openapi": "3.0.3",
  "info": {
    "title": "Lanka Metro Transit (LMT Go) Reverse-Engineered Upstream API",
    "description": "Master OpenAPI 3.0 specification of all reverse-engineered upstream microservices, WebSocket streams, ticketing/POS transactions, and static artwork storage buckets for Lanka Metro Transit (Eimsky / NTC / HNB). Maintains automated health validation.",
    "version": "1.1.0",
    "contact": {
      "name": "SLR & LMT Open Transit Engine",
      "url": "https://github.com/seyone22/lmt-transit-bridge"
    }
  },
  "servers": [
    {
      "url": "https://lankametro.lk/metrobus-proxy",
      "description": "LMT Go Production Gateway Proxy"
    },
    {
      "url": "https://metrobusapiprod.eimsky.com",
      "description": "Eimsky Backend Production Microservices Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "EdDSA signed JWT token obtained via user-service auth endpoint or Next.js RSC chunk graph."
      }
    },
    "schemas": {
      "CardPaymentDetails": {
        "type": "object",
        "description": "cEMV / Contactless Card POS Transaction Metadata",
        "properties": {
          "payment_type": { "type": "string", "example": "card" },
          "card_type": { "type": "string", "enum": ["MASTERCARD", "VISA"], "example": "MASTERCARD" },
          "card_number": { "type": "string", "example": "5269 27** **** 3220" },
          "card_input_mode": { "type": "string", "description": "CL = Contactless NFC, MS = Magnetic Stripe, ICC = Chip", "example": "CL" },
          "invoice": { "type": "string", "example": "005480" },
          "rrn": { "type": "string", "description": "Bank Retrieval Reference Number", "example": "395421432843" },
          "auth_code": { "type": "string", "description": "Bank Authorization Approval Code", "example": "171656" },
          "merchant_id": { "type": "string", "example": "000000060209003" },
          "terminal_id": { "type": "string", "example": "20505690" },
          "transaction_ref": { "type": "string", "example": "35094916" }
        }
      },
      "Ticket": {
        "type": "object",
        "description": "Passenger Ticket Sales Record",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "ticket_number": { "type": "string", "example": "1474-0674-2363" },
          "session_id": { "type": "string", "format": "uuid" },
          "session_pos_reference_id": { "type": "string", "format": "uuid" },
          "session_number": { "type": "integer", "example": 2 },
          "status": { "type": "string", "enum": ["issued", "cancelled", "refunded"], "example": "issued" },
          "ticket_type": { "type": "string", "example": "passenger" },
          "fare_amount": { "type": "number", "example": 160.0 },
          "full_passengers": { "type": "integer", "example": 1 },
          "half_passengers": { "type": "integer", "example": 0 },
          "full_fare_amount": { "type": "number", "example": 160.0 },
          "half_fare_amount": { "type": "number", "example": 0.0 },
          "discount_amount": { "type": "number", "example": 0.0 },
          "is_reprint": { "type": "integer", "example": 0 },
          "payment_method": { "type": "string", "enum": ["cash", "card"], "example": "card" },
          "card_payment_details": { "$ref": "#/components/schemas/CardPaymentDetails" },
          "issued_at": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" },
          "route_id": { "type": "string", "format": "uuid" },
          "route_code": { "type": "string", "example": "CM01" },
          "route_name": { "type": "string", "example": "Makumbura - Kadawatha" },
          "direction_id": { "type": "string", "format": "uuid" },
          "direction_start_location": { "type": "string", "example": "Kadawatha" },
          "direction_end_location": { "type": "string", "example": "Makumbura" },
          "boarding_stop_id": { "type": "string", "format": "uuid" },
          "boarding_stop_name": { "type": "string", "example": "Delkanda Junction" },
          "alighting_stop_id": { "type": "string", "format": "uuid" },
          "alighting_stop_name": { "type": "string", "example": "Kottawa" },
          "bus_id": { "type": "string", "format": "uuid" },
          "bus_registration_number": { "type": "string", "example": "WP-NE-5231" },
          "trip_id": { "type": "string", "format": "uuid" },
          "conductor_id": { "type": "string", "format": "uuid" },
          "conductor_first_name": { "type": "string", "example": "NE5231" },
          "driver_id": { "type": "string", "format": "uuid" }
        }
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/user-service/api/v1/notifications": {
      "get": {
        "summary": "Fetch Broadcast Service Alerts & Public Notifications",
        "description": "Returns active service announcements, route updates, and broadcast notifications for the LMT Go Mobile App.",
        "responses": {
          "200": {
            "description": "Active notifications array"
          }
        }
      }
    },
    "/user-service/api/v1/users": {
      "get": {
        "summary": "Fetch Operating Roster Directory (Drivers & Conductors)",
        "description": "Returns user accounts filtered by type (user_type=driver or user_type=conductor).",
        "parameters": [
          {
            "name": "user_type",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["driver", "conductor", "customer"] }
          }
        ],
        "responses": {
          "200": {
            "description": "User accounts directory array"
          }
        }
      }
    },
    "/ticketing-service/api/v1/buses": {
      "get": {
        "summary": "Fetch Master Fleet Register (All Operating Buses)",
        "description": "Returns full master bus register including manufacturer (Foton C12), seating capacity (35), standing capacity (45), fleet numbers, and UUIDs.",
        "responses": {
          "200": {
            "description": "Master bus array"
          }
        }
      }
    },
    "/ticketing-service/api/v1/buses/{bus_id}/tracking": {
      "get": {
        "summary": "Fetch Real-Time Mobile App Bus Tracking & Delay",
        "description": "Returns real-time GPS position (lat, lng, recorded_at), current segment, delay_minutes, and stop ETAs for a specific bus UUID.",
        "parameters": [
          {
            "name": "bus_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Real-time bus tracking payload"
          }
        }
      }
    },
    "/ticketing-service/api/v1/buses/{bus_id}/assignments": {
      "get": {
        "summary": "Fetch Per-Bus Roster & Driver/Conductor Assignments",
        "description": "Returns operational status, maintenance flags, assigned route, and paired driver + conductor account UUIDs for a specific bus.",
        "parameters": [
          {
            "name": "bus_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Bus crew and route assignment object"
          }
        }
      }
    },
    "/ticketing-service/api/v1/bus-schedule-assignments": {
      "get": {
        "summary": "Fetch Active Schedule Assignments Across Fleet",
        "description": "Returns all long-range bus schedule assignments linking bus UUIDs, route IDs, and active daily schedule slots.",
        "responses": {
          "200": {
            "description": "Active schedule assignments array"
          }
        }
      }
    },
    "/ticketing-service/api/v1/devices": {
      "get": {
        "summary": "Fetch Master Hardware Validator Register (50 Devices)",
        "description": "Returns full hardware register of Aiken T16 handheld POS thermal printers and optical QR door turnstile scanners.",
        "responses": {
          "200": {
            "description": "POS & validator hardware devices array"
          }
        }
      }
    },
    "/ticketing-service/api/v1/tickets": {
      "get": {
        "summary": "Fetch Live Issued Passenger Tickets & POS Card Details",
        "description": "Returns live ticket sales transaction log including fare amounts, boarding stop IDs, alighting stop IDs, and complete card_payment_details (MasterCard/VISA, POS Ref, RRN, Auth Code).",
        "responses": {
          "200": {
            "description": "Live passenger tickets array",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Ticket" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fare-service/api/v1/routes": {
      "get": {
        "summary": "Fetch Bus Corridor Routes & Directions",
        "description": "Returns master routes (CM01, CM02), route colors, and direction UUIDs.",
        "responses": {
          "200": {
            "description": "Routes array"
          }
        }
      }
    },
    "/fare-service/api/v1/routes/{route_id}/stops": {
      "get": {
        "summary": "Fetch Ordered Directional Stop Sequence",
        "description": "Returns ordered platform stop sequence with exact coordinates and platform codes for a specific route ID and direction ID.",
        "parameters": [
          {
            "name": "route_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "direction_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Ordered directional stops array"
          }
        }
      }
    },
    "/gcs-proxy/artwork_storage_dev/new-release/v7-Forward-M-K.geojson": {
      "get": {
        "summary": "Fetch High-Resolution Route Geometry GeoJSON",
        "description": "Returns 1,256 high-resolution shape waypoints for Makumbura - Kadawatha - Colombo Fort transit corridors.",
        "responses": {
          "200": { "description": "GeoJSON FeatureCollection object" }
        }
      }
    },
    "/user-service/api/v1/auth/login": {
      "post": {
        "summary": "Authenticate User / Driver Account",
        "description": "Authenticates customer or driver account and issues an EdDSA signed JWT Bearer token.",
        "responses": {
          "200": { "description": "JWT authentication token" },
          "400": { "description": "Invalid login format" }
        }
      }
    },
    "/user-service/api/v1/auth/refresh": {
      "post": {
        "summary": "Refresh Expired JWT Token",
        "description": "Exchanges a valid refresh_token or token_id for a fresh JWT Bearer access token.",
        "responses": {
          "200": { "description": "Refreshed JWT token" },
          "400": { "description": "Invalid token refresh payload" }
        }
      }
    }
  }
}
